body {
    color: white;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                url(res/img/menu_background.jpg) no-repeat center center fixed;
    height: 100%;
    width: auto;
    background-size: cover;
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 1.5rem;
}

h1 {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 2rem;
    background-color: #d68242;
    display: inline;
    padding: 1rem 2rem;
}

.mainLogo {
    margin: 2rem 0 0 3rem;
}

.menuTitle {
    margin-top: 45px;
    margin-bottom: 50px;
    letter-spacing: 4px;
}

.menuList {
    margin-left: 45px;
    text-decoration: none;
    width: 30rem;
}

.menuListItem {
    margin: 30px 0;
}

.menuItemTitle {
    font-size: 25px;
    font-weight: bold;
    width: 350px;
    display: inline-block;
}

.menuItemPrice {
    color: #d68242;
    font-size: 20px;
    width: 70px;
    display: inline-block;
    text-align: right;

}

.menuItemIngredients {
    opacity: .7;
    font-size: 1rem;
    margin-top: 5px;
    margin-left: 3px;
    display: inline-block;
    width: 300px;
}

.menuItemVegetarian {
    background-color: #d68242;
    color: black;
    font-size: 12px;
    font-weight: 700;
    margin: 5px 0;
    display: block;
    padding: .35rem;
    width: 100px;
    border-radius: 10px;
    letter-spacing: 3px;
}