{% load static %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>

	<div class="mainLogo">
		<img src="{% static 'main/res/img/main_logo.png' %}" alt="Main Logo">

		<!-- Uses namespaces from urls.py file to get the proper link -->
		<a href="{% url 'menu:index' %}">See our menu</a>
	</div>

</body>
</html>