body {
    color: white;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                url(res/img/main_background.jpg) no-repeat center center fixed;
    height: 100%;
    width: auto;
    background-size: cover;
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 1.5rem;
}


.mainLogo {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

a {
    display: block;
    font-family: cursive;
    color: orangered;
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
}