{% load static %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Our pizzas</title>
	<link rel="stylesheet" href="{% static 'menu/style.css' %}">
</head>
<body>
	
	<div class="mainLogo">
		<a href="{% url 'main:index' %}">

			<img src="{% static 'menu/res/img/small_logo.png' %}" alt="PizzaMama">
		</a>
	</div>
	
	<section class="mainContent">
		<div class="menuTitle">
			<h1>Our Pizzas</h1>
		</div>
		
		<div class="menuList">
			
			{% for pizza in pizzas %}
			
			<div class="menuListItem">
				<span class="menuItemTitle">{{ pizza.name }} </span>
				<span class="menuItemPrice">$ {{ pizza.price }}</span>
				<span class="menuItemIngredients">{{ pizza.ingredients }}</span>
				
				{% if pizza.vegetarian %}
				<span class="menuItemVegetarian">
						VEGETARIAN
				</span>
				{% endif %}
			</div>
			
			{% endfor %}
			
		</div>
		
	</section>
	

</body>
</html>